@font-face {
    font-family: 'sutonnymjregular';
    src: url('../fonts/sutom__-webfont.woff2') format('woff2'),
        url('../fonts/sutom__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@media print {
    *,*:before,*:after {
        -webkit-print-color-adjust: exact;
    }
    body {
        -webkit-print-color-adjust: exact;
    }
}
*{box-sizing: border-box;}
*::after, *::before {
    box-sizing: border-box;
}
body{
    color: #000000;
    padding-left: 0;
    position: relative;
    top: 0;
}
.body_pad {
    padding-left: 0;
    padding-top: 0;
}
#printDiv{margin-top: -100px;}
#print_logo{
    position: fixed !important;
}
.clearfix::after,
.clearfix::before{
    content: " ";
    display: table;
}
.clearfix::after{clear: both;}
.ff_bn{font-family: 'sutonnymjregular'}
h1{line-height: 0.9}
p{margin: 0 0 4px;}
input[type="number"],
input[type="number"]:focus,
input[type="text"],
input[type="text"]:focus,
input[type="tel"],
input[type="tel"]:focus,
input[type="search"],
input[type="search"]:focus,
select, select:focus,
select.form-control,
select.form-control:focus,
textarea.form-control,
textarea.form-control:focus,
textarea, textarea:focus{
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    border-color: transparent transparent #ccc transparent;
    border-style: solid;
    border-width: 1px;
    cursor: inherit;
    width: 20% !important;
}
.inv_title{
    margin: 5px 0 0;
    padding-bottom: 3px;
}
.mp_gap{height: 10px;}
.mpw_20{float: left;width: 20%;}
.mpw_22{float: left;width: 22%;}
.mpw_25{float: left;width: 25%;}
.mpw_30{float: left;width: 30%;}
.mpw_33{float: left;width: 33%;}
.mpw_40{float: left;width: 40%;}
.mpw_50{float: left;width: 49%;}
.mpw_60{float: left;width: 59%;}
.pull-left{float: left !important;}
.pull-right{float: right !important;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-capitalize{text-transform: capitalize;}
.text-uppercase{text-transform: uppercase;}
table{
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 10px;
    max-width: 100%;
    width: 100%;
}
table tr th,
table tr td{
    border: 1px solid #999999;
    padding: 5px;
    text-align: left;
}
table tr th.text-center,
table tr td.text-center{
    text-align: center;
}
table tr th.text-right,
table tr td.text-right{
    text-align: right;
}
#printDiv{position: relative;}
.dis_print{display: none;}
.show_in_print{display: block;}
.sale_info{}
.sale_info input[type="text"],
.sale_info input[type="text"]:focus{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    margin-left: 5px;
    outline: none;
}
.inline_label{
    display: inline-block;
    font-weight: 600;
    width: 132px;
}
.mny_label{
    display: inline-block;
    width: 60px;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-danger {
    background-color: #d9534f;
}
.cinfo{}
.cinfo span{display: inline-block}
.alert {
    padding: 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
table tr.bg-danger {
    background-color: #d9534f;
    color: #ffffff;
    -webkit-print-color-adjust: exact;
}
table tr.bg-primary {
    background-color: #337ab7;
    color: #fff;
}
table.in_info_tbl tr th, table.in_info_tbl tr td{
    padding: 0 0 0 5px;
    height: 24px;
    vertical-align: middle;
}
table.customer_info tr th, table.customer_info tr td{
    height: 24px;
    padding: 0 0 0 5px;
    vertical-align: middle;
}
table.agent_info tr th, table.agent_info tr td{
    height: 22px;
    padding: 0 0 0 5px;
}
.no_mrgn{margin: 0 !important;}
.media_print{margin-bottom: 5px;}
.mb_5{margin-bottom: 5px;}
.mb_10{margin-bottom: 10px;}
.mb_50{margin-bottom: 50px;}
.mb_100{margin-bottom: 100px;}
.mp_mt{margin-top: -90px;}
.padb_20{padding-bottom: 20px;}
.padb_50{padding-bottom: 50px;}
.padb_100{padding-bottom: 100px;}
.mpbb{border-bottom: 1px solid #cdcdcd;}
.mp_no_pad_rgt{padding-right: 0;}
@page {
    /*size: landscape;*/
    margin: 0.25in 0.25in 0 0.25in; filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=1);
}